---
const year = new Date().getFullYear();
---
<footer>
  <div class="wrap foot-inner">
    <a class="brand" href="/#top"><span class="mark">N</span> Ruben Naghdyan</a>
    <div>
      <span data-lang-en>© {year} Ruben Naghdyan · naghdyan.com · All rights reserved.</span>
      <span data-lang-ru>© {year} Рубен Нагдян · naghdyan.com · Все права защищены.</span>
    </div>
  </div>
</footer>
